
.firstBackground{
    background-image: url("http://i.imgur.com/0h5hoUL.png");
    background-size:1400px;
    max-width:1400px;
    width:1400px;
    width:expression_r(document.body.clientWidth>1400?"1400":"auto");
    overflow:hidden;
    background-repeat:no-repeat;
    height: 650px;

}

.Background{
    background-image: url("https://pbs.twimg.com/media/C5xalSAVUAAOZzg.jpg");
    background-size:1400px;
    max-width:1400px;
    width:1400px;
    width:expression_r(document.body.clientWidth>1400?"1400":"auto");
    overflow:hidden;
    background-repeat:no-repeat;
    height: 650px;


}

.selectFunctionButton{
  width:400px; 
}

.chooseHeroTitle{
  height:150px;
  width: 1360px;
  background-color: black;
  opacity: 0.9;

}

.hero{
    position:relative;
    right:50px;
    width:200px;
    height:200px;

    padding:0px;

    overflow:hidden;
    border-radius:80%;
}

.hero img{
    position: center;
      margin-left:6px;
    padding:0px;
     height:190px;
    width:190px;
    height:auto;
}

.firstRow{
    height:200px;
    width:1360px;

}
.secondRow{
    height:200px;
    width:1360px;

}


.setHeroTitle{
    font-weight: bold;
     font-size: 100px;
     text-align: center;
    color: white;
}





