<div class = "Background">
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/clear.css" rel="stylesheet">
  	<ng-include src="'partials/topbar.html'"></ng-include>

  	<div class="col-md-12">
  		<div class="col-md-1 detailBlock"></div>
  		<div class="col-md-1 detailBlock"></div>
  		<div class="col-md-3 "><img class="heroPicInO" src="{{GetHeroPic()}}"></div>
  		<div class="col-md-3"></div>
  		<div class="col-md-3"></div>
  		<div class="col-md-1 detailBlock"></div>
  	</div>
</div>