
<!-- This is where the search page located. -->

<!-- top bar -->
<div class = "Background">


<!-- input and search block -->
<!-- <link href="css/styles.css" rel="stylesheet"> -->

  <ng-include src="'partials/topbar.html'"></ng-include>
  <ng-include class="floatBar" src="'partials/deckbar.html'"></ng-include>




  <div class="col-md-8 searchFuntion">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." ng-model="name"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="search(name)">Search</button>
                </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->


          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cost<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="costFilter(8,savedCards)">All</a></li>
                <li><a ng-click="costFilter(0,savedCards)">0</a></li>
                <li><a ng-click="costFilter(1,savedCards)">1</a></li>
                <li><a ng-click="costFilter(2,savedCards)">2</a></li>
                <li><a ng-click="costFilter(3,savedCards)">3</a></li>
                <li><a ng-click="costFilter(4,savedCards)">4</a></li>
                <li><a ng-click="costFilter(5,savedCards)">5</a></li>
                <li><a ng-click="costFilter(6,savedCards)">6</a></li>
                <li><a ng-click="costFilter(7,savedCards)">7+</a></li>
              </ul>
            </div>


          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attack <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="attackFilter(8,savedCards)">All</a></li>
                <li><a ng-click="attackFilter(0,savedCards)">0</a></li>
                <li><a ng-click="attackFilter(1,savedCards)">1</a></li>
                <li><a ng-click="attackFilter(2,savedCards)">2</a></li>
                <li><a ng-click="attackFilter(3,savedCards)">3</a></li>
                <li><a ng-click="attackFilter(4,savedCards)">4</a></li>
                <li><a ng-click="attackFilter(5,savedCards)">5</a></li>
                <li><a ng-click="attackFilter(6,savedCards)">6</a></li>
                <li><a ng-click="attackFilter(7,savedCards)">7+</a></li>

              </ul>

        </div>

          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="healthFilter(8,savedCards)">All</a></li>
                <li><a ng-click="healthFilter(0,savedCards)">0</a></li>
                <li><a ng-click="healthFilter(1,savedCards)">1</a></li>
                <li><a ng-click="healthFilter(2,savedCards)">2</a></li>
                <li><a ng-click="healthFilter(3,savedCards)">3</a></li>
                <li><a ng-click="healthFilter(4,savedCards)">4</a></li>
                <li><a ng-click="healthFilter(5,savedCards)">5</a></li>
                <li><a ng-click="healthFilter(6,savedCards)">6</a></li>
                <li><a ng-click="healthFilter(7,savedCards)">7+</a></li>
              </ul>

        </div>

          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Durability <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="durabilityFilter(8,savedCards)">All</a></li>
                <li><a ng-click="durabilityFilter(0,savedCards)">0</a></li>
                <li><a ng-click="durabilityFilter(1,savedCards)">1</a></li>
                <li><a ng-click="durabilityFilter(2,savedCards)">2</a></li>
                <li><a ng-click="durabilityFilter(3,savedCards)">3</a></li>
                <li><a ng-click="durabilityFilter(4,savedCards)">4</a></li>
                <li><a ng-click="durabilityFilter(5,savedCards)">5</a></li>
                <li><a ng-click="durabilityFilter(6,savedCards)">6</a></li>
                <li><a ng-click="durabilityFilter(7,savedCards)">7+</a></li>
              </ul>
        </div>

      </div>

<div >



    <div class="col-md-8 cardView">

      <div class="col-md-1 turnpage"><img class="turnButton"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Media_Viewer_Icon_-_Next.svg/1000px-Media_Viewer_Icon_-_Next.svg.png" ng-click="last10cards()"></img></div>

      <div class="col-md-10 loading" ng-show="loadingFlag==0"><img class="loadingPic" src="https://img.gifamerica.com/cbd35c7bf64b6c7b6829e655374cc576_loading-ajax-loader-gif-transparent-background_1600-1600.gif" style="margin-top:100px;margin-left:300px; height:300px; width: 300px;"></div>

      <div class="col-md-10"  ng-show="loadingFlag==1">
      
      <ul class="caption-style-2" ng-repeat="card in showingCards track by $index|limitTo:10">
         <li>
        <div class="col-md-3 cardImagediv">

        <img class="cardImage" ng-src="{{card.img}}" ng-click="selectCard(card)">
        
        </div>

      </li>
    </ul>
    </div>

      <div class="col-md-1 turnpage"><img class="turnButton1"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Media_Viewer_Icon_-_Next.svg/1000px-Media_Viewer_Icon_-_Next.svg.png" ng-click="next10cards()"></img></div>
    </div>
</div>
        <div class="col-md-12 bottomBar" ></div> 

</div>
