
<!-- here is the first page with 2 optional functions: search for cards / create a deck -->





<!-- go to deck fuction -->
<link rel="stylesheet"  href="css/clear.css">
<div class="firstBackground">
   

	<div class="col-md-12 firstContainer" id="firstPage" >
		<div class="topBar">
                <div class="container">
                    <h2>HearthStone Bank</h2>
                </div>
			</div>

      <div class="col-md-12 selectFunction" style="height:400px" ></div>    
          
          <div class="col-md-1"></div>
          <a class="selectFunctionButton" href="#!/setHero"><button class="col-md-3 btn btn-default btn-warning btn-lg" >Create New Deck</button></a>
          <div class="col-md-2"></div>
          <a class="selectFunctionButton" href="#!/search"><button class="col-md-3 selectFunctionButton btn btn-default btn-warning btn-lg">Search Cards</button></a>
          <div class="col-md-2"></div>

	</div>



	
  </div>
