
<!-- here is the login page  -->

<!-- go to deck fuction -->
<div class="firstBackground">
      <div class="col-md-12 selectFunction" style="height:100px" ></div>  
       <div class="col-md-12 selectFunction" style="height:100px" ><h1 style="text-align: center;color: black; font-size: 60px"><strong>Hearthstone Cards Bank</strong></h1></div>
       <div class="col-md-12 selectFunction" style="height:50px" ><h1 style="text-align: center;color: white; font-size: 50px"><strong>Registration</strong></h1></div> 
       <div class="col-md-12 selectFunction" style="height:50px" ></div>         

       <div class="col-md-12" style="height:200px">
          <div class="col-md-4"></div>
          <div class="col-md-4 regiArea">
                  <div>
                <ul>
                  <li><label for="username"><h3>Username:</h3></label>
                  <input type="text" ng-model="username" placeholder="required" required></li>
                    <li><label for="password"><h3>Password:</h3></label>
                    <input type="password" ng-model="password" maxlength="20" placeholder="required" required></li>
                  <li><label for="password"><h3>Repeat password:</h3></label>
                    <input type="password" ng-model="repeat_password" maxlength="20" placeholder="required" required></li>
                  <p>{{message}}</p>
                  <p>{{debug}}</p>

                  <li>
                  <button class="btn btn-default btn-success btn-block" ng-click="checkRegi()">Submit</button>
                  <button class="btn btn-default btn-warning btn-block" ng-click="backLogin()">Back</button></li>
                </ul>
              </div>
            
          </div>
          <div class="col-md-4"></div>
         
       </div>

       <div class="modal-cover" ng-if="regiFlag == 1"> 

       </div>



      
</div>




<!-- here is the login page  -->
<!-- <div class="firstBackground">
      <div><p>Registration</p></div>
      <div>
        <ul>
          <li><label for="username">Username</label>
          <input type="text" ng-model="username" placeholder="required" required></li>
          <li><label for="password">password</label>
          <input type="password" ng-model="password" maxlength="20" placeholder="required" required></li>
      	<li><label for="password">repeat password</label>
          <input type="password" ng-model="repeat_password" maxlength="20" placeholder="required" required></li>
      	<p>{{message}}</p>
      	<p>{{debug}}</p>
          <li>
      		<a ng-click="checkRegi()">Registration</a></li>
      	<li>
      		<a ng-click="backLogin()">Back</a></li>
        </ul>
      </div>
</div>
 -->