
<!-- This is where the search page located. -->

<!-- top bar -->
<div class = "Background">


<!-- input and search block -->
<link href="css/styles.css" rel="stylesheet">
<link href="css/clear.css" rel="stylesheet">
  
  <ng-include src="'partials/topbar.html'"></ng-include>
  <!-- <ng-include class="floatBar" src="'partials/sidebar.html'" ng-controller="SearchCtrl"></ng-include> -->

<div class="col-md-2 " id="sideBar">

        <ul class="nav nav-pills nav-stacked">

          <li ><a href="" ng-click="functionChoose('Class')"><span><h3>Class</h3></span></a></li>
          <li ><a href="" ng-click="functionChoose('Quality')"><span><h3>Quality</h3></span></a></li>
          <li ><a href="" ng-click="functionChoose('Race')"><span><h3>Race</h3></a></span></li>
          <li ><a href="" ng-click="functionChoose('Type')"><span><h3>Type</h3></span></a></li>
                             
        </ul>

 </div> 

      <div class="col-md-2 classBarBack" id="classBar" ng-hide= "showFunction()"></div> 

        <div class="col-md-2 classBarBack" id="classBar" ng-show= "showFunction() == 1">

        <ul class="nav nav-pills nav-stacked">
          <li class="classBar"><a ng-click="classSearch('Druid')"><span><h4 class="classBarText">Druid</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Hunter')"><span><h4 class="classBarText">Hunter</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Mage')"><span><h4 class="classBarText">Mage</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Paladin')"><span><h4 class="classBarText">Paladin</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Priest')"><span><h4 class="classBarText">Priest</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Rogue')"><span><h4 class="classBarText">Rogue</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Shaman')"><span><h4 class="classBarText">Shaman</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Warlock')"><span><h4 class="classBarText">Warlock</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Warrior')"><span><h4 class="classBarText">Warrior</h4></span></a></li>
<!--           <li class="classBar"><a ng-click="classSearch('Neutral')"><span><h4 class="classBarText">Neutral</h4></span></a></li> -->



                             
        </ul>

        </div> 


        <div class="col-md-2 classBarBack" id="typeBar" ng-show= "showFunction() == 2">

        <ul class="nav nav-pills nav-stacked">

<!--           <li class="classBar"><a ng-click="typeSearch('Hero')"><span><h4 class="classBarText">Hero</h4></span></a></li> -->
          <li class="classBar"><a ng-click="typeSearch('Minion')"><span><h4 class="classBarText">Minion</h4></span></a></li>
          <li class="classBar"><a ng-click="typeSearch('Spell')"><span><h4 class="classBarText">Spell</h4></span></a></li>
          <li class="classBar"><a ng-click="typeSearch('Weapon')"><span><h4 class="classBarText">Weapon</h4></span></a></li>
<!--           <li class="classBar"><a ng-click="typeSearch('Hero')"><span><h4 class="classBarText">Hero Power</h4></span></a></li> -->
         
                             
        </ul>

        </div> 


        <div class="col-md-2 classBarBack" id="raceBar" ng-show= "showFunction() == 4">

        <ul class="nav nav-pills nav-stacked">

          <li class="classBar"><a ng-click="raceSearch('Demon')"><span><h4 class="classBarText">Demon</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Dragon')"><span><h4 class="classBarText">Dragon</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Mech')"><span><h4 class="classBarText">Mech</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Murloc')"><span><h4 class="classBarText">Murloc</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Beast')"><span><h4 class="classBarText">Beast</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Pirate')"><span><h4 class="classBarText">Pirate</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Totem')"><span><h4 class="classBarText">Totem</h4></span></a></li>


                             
        </ul>

        </div> 


        <div class="col-md-2 classBarBack" id="qualityBar" ng-show= "showFunction() == 3">

        <ul class="nav nav-pills nav-stacked">

          <li class="classBar"><a ng-click="qualitySearch('Free')"><span><h4 class="classBarText">Free</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Common')"><span><h4 class="classBarText">Common</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Rare')"><span><h4 class="classBarText">Rare</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Epic')"><span><h4 class="classBarText">Epic</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Legendary')"><span><h4 class="classBarText">Legendary</h4></span></a></li>

                             
        </ul>

        </div> 



  <div class="col-md-8 searchFuntion">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." ng-model="name"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="search(name)">Search</button>
                </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->


          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cost<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="costFilter(8,savedCards)">All</a></li>
                <li><a ng-click="costFilter(0,savedCards)">0</a></li>
                <li><a ng-click="costFilter(1,savedCards)">1</a></li>
                <li><a ng-click="costFilter(2,savedCards)">2</a></li>
                <li><a ng-click="costFilter(3,savedCards)">3</a></li>
                <li><a ng-click="costFilter(4,savedCards)">4</a></li>
                <li><a ng-click="costFilter(5,savedCards)">5</a></li>
                <li><a ng-click="costFilter(6,savedCards)">6</a></li>
                <li><a ng-click="costFilter(7,savedCards)">7+</a></li>
              </ul>
            </div>


          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attack <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="attackFilter(8,savedCards)">All</a></li>
                <li><a ng-click="attackFilter(0,savedCards)">0</a></li>
                <li><a ng-click="attackFilter(1,savedCards)">1</a></li>
                <li><a ng-click="attackFilter(2,savedCards)">2</a></li>
                <li><a ng-click="attackFilter(3,savedCards)">3</a></li>
                <li><a ng-click="attackFilter(4,savedCards)">4</a></li>
                <li><a ng-click="attackFilter(5,savedCards)">5</a></li>
                <li><a ng-click="attackFilter(6,savedCards)">6</a></li>
                <li><a ng-click="attackFilter(7,savedCards)">7+</a></li>

              </ul>

        </div>

          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="healthFilter(8,savedCards)">All</a></li>
                <li><a ng-click="healthFilter(0,savedCards)">0</a></li>
                <li><a ng-click="healthFilter(1,savedCards)">1</a></li>
                <li><a ng-click="healthFilter(2,savedCards)">2</a></li>
                <li><a ng-click="healthFilter(3,savedCards)">3</a></li>
                <li><a ng-click="healthFilter(4,savedCards)">4</a></li>
                <li><a ng-click="healthFilter(5,savedCards)">5</a></li>
                <li><a ng-click="healthFilter(6,savedCards)">6</a></li>
                <li><a ng-click="healthFilter(7,savedCards)">7+</a></li>
              </ul>

        </div>

          <div class="col-md-1 filterButton btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Durability <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="durabilityFilter(8,savedCards)">All</a></li>
                <li><a ng-click="durabilityFilter(0,savedCards)">0</a></li>
                <li><a ng-click="durabilityFilter(1,savedCards)">1</a></li>
                <li><a ng-click="durabilityFilter(2,savedCards)">2</a></li>
                <li><a ng-click="durabilityFilter(3,savedCards)">3</a></li>
                <li><a ng-click="durabilityFilter(4,savedCards)">4</a></li>
                <li><a ng-click="durabilityFilter(5,savedCards)">5</a></li>
                <li><a ng-click="durabilityFilter(6,savedCards)">6</a></li>
                <li><a ng-click="durabilityFilter(7,savedCards)">7+</a></li>
              </ul>
        </div>

      </div>

<div >



    <div class="col-md-8 cardView">
      <div class="col-md-1 turnpage"><img class="turnButton"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Media_Viewer_Icon_-_Next.svg/1000px-Media_Viewer_Icon_-_Next.svg.png" ng-click="last10cards()"></img></div>
      <div class="col-md-10 loading" ng-show="loadingFlag==0"><img class="loadingPic" src="https://img.gifamerica.com/cbd35c7bf64b6c7b6829e655374cc576_loading-ajax-loader-gif-transparent-background_1600-1600.gif" style="margin-top:100px;margin-left:300px; height:300px; width: 300px;"></div>

      <div class="col-md-10" ng-show="loadingFlag==1">
      <ul class="caption-style-2" ng-repeat="card in showingCards track by $index|limitTo:10">
         <li>
        <div class="col-md-3 cardImagediv">

        <img class="cardImage" ng-src="{{card.img}}">
        <div class="caption">
          <div class="blur">
            <button class="col-md-6 btn btn-sm detailButton" ng-click="showDetail(card.cardId)" ><h4 style="color:white"><label class="btn" for="check">Detail</label></h4></button>
            <button class="col-md-6 detailButton btn btn-sm" ng-click="addToCollection(card)"><h4 style="color:white">Favorite</h4></button>
          </div>

        </div>
        </div>

      </li>

    </ul>
    </div>

      <div class="col-md-1 turnpage"><img class="turnButton1"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Media_Viewer_Icon_-_Next.svg/1000px-Media_Viewer_Icon_-_Next.svg.png" ng-click="next10cards()"></img></div>
    </div>
</div>

</div>
      <input id="check" type="checkbox">
        <div class="modal-cover">
        <label class="closeDetail" for="check">
        <img  class="cardDetail" ng-src="{{singleCard[0].imgGold}}">
        <div class="cardInfo">
          <p style="color:white;width:300px;">Flavor:{{singleCard[0].flavor}}</p>
          <p style="color:white;width:300px;">Artist:{{singleCard[0].artist}}</p>
          <p style="color:white;width:300px;">Card set:{{singleCard[0].cardSet}}</p>
          <p style="color:white;width:300px;">How to get gold:{{singleCard[0].howToGetGold}}</p>
      </label>
      </div>


<!-- <div class="whiteOverlay" ng-show= "showDetail()==1 ">
  <img class="goldenCard" ng-scr="getCardDetail()">
</div> -->

<!--       <div class="modal">
        x
        I'm a modal!
      </div> -->        <div class="col-md-12 bottomBar" ></div> 
    </div>


