
<div class="col-md-2 " id="sideBar">

        <ul class="nav nav-pills nav-stacked">

          <li ><a href="" ng-click="functionChoose('Class')"><span><h3>Class</h3></span></a></li>
          <li ><a href="" ng-click="functionChoose('Type')"><span><h3>Type</h3></span></a></li>
          <li ><a href="" ng-click="functionChoose('Quality')"><span><h3>Quality</h3></span></a></li>
          <li ><a href="" ng-click="functionChoose('Race')"><span><h3>Race</h3></a></span></li>

                             
        </ul>

 </div> 

      <div class="col-md-2 classBarBack" id="classBar" ng-hide= "showFunction()"></div> 

        <div class="col-md-2 classBarBack" id="classBar" ng-show= "showFunction() == 1">

        <ul class="nav nav-pills nav-stacked">
          <li class="classBar"><a ng-click="classSearch('Druid')"><span><h4 class="classBarText">Druid</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Hunter')"><span><h4 class="classBarText">Hunter</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Mage')"><span><h4 class="classBarText">Mage</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Paladin')"><span><h4 class="classBarText">Paladin</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Priest')"><span><h4 class="classBarText">Priest</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Rogue')"><span><h4 class="classBarText">Rogue</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Shaman')"><span><h4 class="classBarText">Shaman</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Warlock')"><span><h4 class="classBarText">Warlock</h4></span></a></li>
          <li class="classBar"><a ng-click="classSearch('Warrior')"><span><h4 class="classBarText">Warrior</h4></span></a></li>



                             
        </ul>

        </div> 


        <div class="col-md-2 classBarBack" id="typeBar" ng-show= "showFunction() == 2">

        <ul class="nav nav-pills nav-stacked">

          <li class="classBar"><a ng-click="typeSearch('Hero')"><span><h4 class="classBarText">Hero</h4></span></a></li>
          <li class="classBar"><a ng-click="typeSearch('Minion')"><span><h4 class="classBarText">Minion</h4></span></a></li>
          <li class="classBar"><a ng-click="typeSearch('Spell')"><span><h4 class="classBarText">Spell</h4></span></a></li>
          <li class="classBar"><a ng-click="typeSearch('Weapon')"><span><h4 class="classBarText">Weapon</h4></span></a></li>
          <li class="classBar"><a ng-click="typeSearch('Hero')"><span><h4 class="classBarText">Hero Power</h4></span></a></li>
         
                             
        </ul>

        </div> 


        <div class="col-md-2 classBarBack" id="raceBar" ng-show= "showFunction() == 4">

        <ul class="nav nav-pills nav-stacked">

          <li class="classBar"><a ng-click="raceSearch('Demon')"><span><h4 class="classBarText">Demon</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Dragon')"><span><h4 class="classBarText">Dragon</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Mech')"><span><h4 class="classBarText">Mech</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Murloc')"><span><h4 class="classBarText">Murloc</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Beast')"><span><h4 class="classBarText">Beast</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Pirate')"><span><h4 class="classBarText">Pirate</h4></span></a></li>
          <li class="classBar"><a ng-click="raceSearch('Totem')"><span><h4 class="classBarText">Totem</h4></span></a></li>


                             
        </ul>

        </div> 


        <div class="col-md-2 classBarBack" id="qualityBar" ng-show= "showFunction() == 3">

        <ul class="nav nav-pills nav-stacked">

          <li class="classBar"><a ng-click="qualitySearch('Free')"><span><h4 class="classBarText">Free</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Common')"><span><h4 class="classBarText">Common</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Rare')"><span><h4 class="classBarText">Rare</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Epic')"><span><h4 class="classBarText">Epic</h4></span></a></li>
          <li class="classBar"><a ng-click="qualitySearch('Legendary')"><span><h4 class="classBarText">Legendary</h4></span></a></li>

                             
        </ul>

        </div> 