 <!-- bar -->
  <link href="css/styles.css" rel="stylesheet">
  <div class="BackgroundAndTopbar" id="barView">
        <div id="topBar">
        <ul>
            <li class="col-md-3"></li>
          <li class="col-md-2 topBar"><a href="#!/search"><span><h4>Cards</h4></span></a></li>
          <li class="col-md-2 topBar"><a href="#!/setHero"><span><h4>Deck</h4></span></a></li>
          <li class="col-md-2 topBar"><a href="#!/deckOverview"><span><h4>My Deck</h4></span></a></li>
          <li class="col-md-2 topBar"><a href="#!/collection"><span><h4>Favorite</h4></span></a></li>
          <li class="col-md-1"></li>
                             
        </ul>
        </div>
   </div>    
